<div class="container">
    <div>
        <h2>Modifier une chanson :</h2>
    </div>
    <form>
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label>ID chanson</label>
            <input readonly type="text" [(ngModel)]="currentChanson.idChanson" name="idChanson" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom chanson</label>
            <input type="text" [(ngModel)]="currentChanson.nomChanson" name="nomChanson" class="form-control">
        </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [ngModel]="currentProduit.dateCreation | date: 'yyyy-MM-dd'" 
            (ngModelChange)=" currentProduit.dateCreation= $event" name="dateCreation"  class="form-control">
        </div>

         <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updatedCatId">
                <option *ngFor="let cat of categories" [value]="cat.idCat">
                    {{cat.nomCat}}
                </option>  
            </select>
        </div> 

        <div class="mt-2">
            <button type="submit" (click)="updateProduit()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>